body{
    background: red;
    /*transform: rotate(-90deg);*/
}
#app{
    font-size: 50px;
    color: #333333;
}

#div{
    font-size: 50px;
    color: #333333;
}
.span{
    font-size: 20px;
    color: #ffffff;
}



p{
    font-size: 10px;
    color: #ffffff;
}